.zshark-hero {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
}

.zshark-text-hero {
  width: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.zshark-text-hero h1 {
  font-size: 60px;
  margin: 0;
  line-height: 65px;
  font-family: Orbitron;
}

.zshark-text-hero p {
  font-size: 25px;
}

.zshark-hero-preview {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:768px){
.zshark-hero-preview svg{
  width: 50%;
}
}

#zshark-svg-logo {
  animation: glow-logo 6s ease-in-out infinite;
}

@keyframes glow-logo {
  0% {
    filter: drop-shadow(0 0 5px rgba(27, 232, 255, 0.1));
    opacity: 1;
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(27, 232, 255, 0.6));
    opacity: 1;
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(27, 232, 255, 0.1));
    opacity: 1;
  }
}

.CTA-zshark {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.zshark-start-CTA {
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: transparent;
  color: #ddd;
  font-family: rajdhani;
  font-weight: 600;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.zshark-docs-btn {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: transparent;
  color: #ddd;
  font-family: rajdhani;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.zshark-start-CTA:hover {
  background-color: rgba(27, 232, 255, 0.1);
  border: #1be7ff 1px solid;
  color: #1be7ff;
}

.zshark-docs-btn:hover {
  background-color: rgba(27, 232, 255, 0.1);
  border: #1be7ff 1px solid;
  color: #1be7ff;
}

@media (max-width: 768px) {
  .zshark-hero {
    flex-direction: column-reverse;
  }

  .zshark-hero-preview {
    width: 100%;
  }

  .zshark-text-hero {
    width: 100%;
    align-items: center;
  }

  .zshark-text-hero h1 {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }

  .zshark-text-hero p {
    font-size: 20px;
    text-align: center;
  }

  .CTA-zshark {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #zshark-svg-logo {
    width: 175px;
  }
}