:root {
  --delta-sec-color: #00A397;
  --spy-eye-color: #FF003C;
  --steg-x-color: #ffd700;
  --falcon-defender-color: #15B24B;
  --z-shark-color: #1BE7FF;
  --bg-dark: #070707;
  --text-main: #fff;
  --border-color: #393939;
}

body {
  background-color: var(--bg-dark);
  font-family: "rajdhani", sans-serif;
  color: var(--text-main);
  text-align: center;
}

a {
    text-decoration: none; /* لإزالة الخط السفلي */
    color: inherit;       /* لجعل الرابط يأخذ لون النص المحيط به (الأب) */
}

*, *::before, *::after {
    box-sizing: border-box;
}